@import "tailwindcss";
@import "flowbite/src/themes/default";
@source "../node_modules/flowbite";
@plugin "flowbite/plugin";

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fixed.inset-0 {
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  backdrop-filter: blur(10px); /* Blur effect */
}

html {
  scroll-behavior: smooth;
}
